@import url(https://fonts.googleapis.com/css?family=Satisfy);
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
body {
  padding: 5px;

}
.container{
       display: grid;
       /*grid-gap:8px;*/
       grid-template-columns: repeat(12,1fr);
       grid-template-rows: auto auto auto auto ;
       grid-template-areas: "h h h h h h h h h h h h "
                             "b b b b b b b b b b b b "
                             "s s s s s s s s s s s s "
                             "f f f f f f f f f f f f";
 }

header{
  grid-area: h;
  position: relative;
  display:flex;
  background-color: lightgrey;
}
.img-div{
  width:100px;
  height: 100px;
  flex:1;
  margin:5px 0px 0px 15px;
  
}
header img{
  max-width:100%;
  max-height: 100%;

}
.img-txt{
  flex:1;
  position: absolute;
  top:60px;
  left:85px;
}
.img-txt h1{
  font-size: 36px;
  font-weight: 500;
 /* text-decoration: underline;*/
  font-family: 'Oswald', sans-serif;
}  
.big-chale-text-div{
  grid-area: b;
   /*border: 1px solid black;*/
   display: flex;
   flex-direction: column;
 /* justify-content: center;*/
  align-items: center;
  background-color: lightgrey; 
}
.big-C{
  
 /* margin-left: -100px;*/
  position: relative;
}
.big-C h2{
   font-size: 250px;
   font-family: Satisfy;
   z-index: -1;
}
span{
  position:absolute;
  font-size: 65px;
  font-family: Satisfy;
  z-index: 1;
}
.big-C :nth-child(2){
  top:90px;
  left:35px;
}
.big-C :last-child{
  top:170px;
  left:20px;
}
.mark-txt h3{
/*  margin-left: -50px;*/
  font-size: 16px;
 font-weight: 300;
 text-decoration: underline;
  font-family: 'Oswald', sans-serif;
}
.mark-txt :last-child{
  text-align: center;
}
section{
  grid-area: s;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   /*margin-top: 5px;*/
    background-color: lightgrey;
}
.first-div-quota,.secound-div-quota{
width:60%;
  padding: 10px;
  margin-right: 5%;
  
}
section p{
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
font-family: 'Oswald', sans-serif; 
line-height: 1.7;
}
 section p::first-letter{
  font-size: 21px;
  margin-right: 1px;
  font-weight: 500;
}
.secound-div-quota{
 
}
footer{
   background-color: lightgrey;
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black;*/
}
footer p{
  font-size: 12px;
  margin: 5px 0px;
font-family: 'Oswald', sans-serif; 
}
.cite{}
.cite h6{
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  color: #8E8E8E;
  margin-bottom: 10px; 
}
.footer-img{

  width:200px;
}
footer img{
  max-width: 100%;
}

@media all and (max-width:600px ){
  section{
    align-items: center;
}
.first-div-quota,.secound-div-quota{
    max-width:500px;
    padding:5px;}
    section p{
      font-size: 14px;
      line-height: 1.5;
      }}
